//navbar.scss
.navbar {
    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    transition: all 0.7s ease-in;
}

//IMPORTANT
.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
}

.logo img {
    width: 50px;
}

.navigation {
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    #logo {
        color: rgb(255, 255, 255);
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: rgb(42, 82, 49);
        padding: 5px;
        font-family: 'Righteous', cursive;
        border-radius: 2px;
        transition: 0.6s;
    }
    #navitem {
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        color: black;
        margin: 10px;
        padding: 5px;
    }
    #navitem:hover {
        background-color: rgb(255, 201, 25);
    }
    #navbarvilla {
        background-color: aquamarine;
        position: sticky;
        top: 0;
    }
}