@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
#bond {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    padding: 5px;
}

#bond:hover {
    font-size: 20px;
}

#ek {
    min-height: 30px;
    justify-content: left;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(255, 41, 41);
    margin-top: 20px;
    box-shadow: 0 10px 10px -5px;
    color: black;
}